html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 8px;

    /* overflow-x: hidden; */
}
@font-face {
    font-family: "Geometria";
    src: url("fonts/GEOMETRIA-HEAVY.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h2, h3, h4, li {
    font-family: Geometria;
}

li {
    color: #3b3f40;
    font-size: 20px;
	margin: 10px 0;
}

.small-block>.container>ul>li {
    font-size: 22px;
}

.logo-top-block {
    position: relative;
    height: 30%;
}
.logo-bottom-block {
    position: relative;
    height: 70%;
}


.logo {
    font-family: "Geometria";
}
.logo-point {
    font-size: 9.5rem;
}
.logo-top {
    font-size: 9.5rem;
    margin-left: 40px;
}
.logo-bottom {
    font-size: 5.5rem;
    margin-left: 40px;
}

.arrow {
    position: absolute;
    width: 80px;
    top: 0;
    bottom: -60%;
    left: 0;
    right: 0;
    margin: auto
}

.button-center {
    font-family: Geometria;
    position: absolute;
    width: 300px;
    height: 60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    text-align: center;
    background: #3b3f40;
    color: #babcbe;
    transition: 0.5s;
}

.button-center:hover{
    background: #babcbe;
    color: #3b3f40;
    text-decoration: none;
}
.black-text {
    color: #262626;
}
.dark-text {
    color: #3b3f40;
}
.light-text {
    color: #babcbe;
}

#changed-color-bg {
    transition: background-color 1s;
    height: 100%;
}

#changed-color-point {
    transition: color 2s;
}

.block {
    padding: 200px 0;
}
.small-block {
  padding: 100px 0;
}

.light-block {
    background: #babcbe;
}

.orange-block {
  background: #d76443;
}

.light-blue-block {
  background: #8cc6bb;
}

.blue-block {
  background: #49a3bf;
}

.green-block {
  background: #7ebb76;
}

.fiolet-block {
  background: #6558a0;
}

.partner {
    height: 80px;
    margin-right: 30px;
}

.organizer {
    height: 100px;
    margin: 10px 20px 60px 20px;
}
.sticky-menu {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 5px 16px rgba(150,150,150,0.5);
}
